Thumbs.db
.DS_Store
.dist
.tmp
.sass-cache
npm-debug.log
node_modules
builds
package-lock.json
*.Rproj
_run_site.r # this file contains all the initial site setup code
.Rproj.user
.Rproj.user/
.Rhistory
.RData
.Ruserdata

 